<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../lib/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
  <div id="app">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加品牌</h3>
      </div>
      <div class="panel-body form-inline">
        <label>
          Name:
          <input class="form-control" type="text" v-model="name" @keyup.enter="add">
        </label>
        <input class="btn btn-primary" type="button" value="添加" @click="add">
      </div>
    </div>
    <table class="table table-bordered table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in list" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.ctime }}</td>
          <td>
            <a href="" @click.prevent="deleteItem(item.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <script>
    Vue.http.options.root = "http://www.liulongbin.top:3005/"
    Vue.http.options.emulateJSON = true

    var vm = new Vue({
      el: "#app",
      data: {
        name: "",
        list: []
      },
      // 当 vm 实例的 data 和 methods 初始化完毕后，vm 实例会自动执行 created 这个生命周期函数
      created() {
        this.getAllList()
      },
      methods: {
        // 获取所有的品牌列表
        getAllList() {
          this.$http.get('api/getprodlist').then(result => {
            if (result.body.status === 0) {
              this.list = result.body.message
            } else {
              console.log("获取数据失败")
            }
          })
        },
        // 添加品牌
        add() {
          this.$http.post("api/addproduct", {name: this.name}).then(result => {
            if (result.body.status === 0) {
              // success
              this.getAllList()
              console.log("success")
              this.name = ""
            } else {
              // fail
              console.log("添加失败！")
            }
          })
        },
        // 删除
        deleteItem(id) {
          this.$http.get("api/delproduct/" + id).then(result => {
            if (result.body.status === 0) {
              this.getAllList()
            } else {
              console.log("删除失败")
            }
          })
        }
      }
    })
  </script>
</body>
</html>